@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-light: #000000; /* Texto no modo claro */
  --text-dark: #f5f5f5;  /* Texto no modo escuro */
  --primary-light: #F8F5E1; /* Fundo principal no modo claro */
  --primary-dark: #070a1e; /* Fundo secundário no modo escuro */
  --feature: #c91d2d; /* Cor de destaque constante */
  --background: #ded59c; /* Fundo padrão no modo claro */
  --foreground: #212a63; /* Texto padrão no modo claro */
}


/* Estilo padrão para o corpo */
body {
  color: var(--text-light);
  background: var(--primary-light);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para quando a classe 'dark' for aplicada ao body */
body.dark {
  color: var(--text-dark);
  background: var(--primary-dark);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}